<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="App_Data/logs/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="OrchardCore.Logging.NLog"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="file" fileName="App_Data/logs/compost-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    
    <target xsi:type="Console" name="console"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Information" writeTo="file,console" />
    <logger name="Microsoft.AspNetCore.*" minlevel="Warning" writeTo="file,console" final="true" />
    <logger name="OrchardCore.*" minlevel="Information" writeTo="file,console" />
  </rules>
</nlog>
